<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Furniture List</h1>
            <input type="text" placeholder="Enter Furniture Name" [(ngModel)]="Furniture">
            &nbsp;
            <button class="btn btn-primary" (click)="Add()">Add Furniture</button>
                <ul class="list-unstyled p-0 list-group">
                    <li *ngFor="let Furniture of FurnitureList; let index = index" class="text-dark bg-info mt-3 p-3 list-group-item">
                    <h5>{{index + 1}}&nbsp;&nbsp;Furniture Name: {{Furniture}}</h5>
                    &nbsp;
                    <button class="btn btn-dark danger" (click)="Delete(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>




