<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Subject List</h1>
            <input type="text" placeholder="Enter Subject Name" [(ngModel)]="subject">
            &nbsp;
            <button class="btn btn-primary" (click)="Add()">Add Subject</button>
                <ul class="list-unstyled p-0 list-group">
                    <li *ngFor="let subjects of subjectList; let index = index" class="text-dark bg-info mt-3 p-3 list-group-item">
                    <h5>{{index + 1}}&nbsp;&nbsp;Subject Name: {{subjects}}</h5>
                    &nbsp;
                    <button class="btn btn-dark danger" (click)="Delete(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>
