<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Inventory List</h1>
            <input type="text" placeholder="Enter Inventory Item Name" [(ngModel)]="Name">
            &nbsp;
            <input type="text" placeholder="Enter Inventory Item Quantities" [(ngModel)]="Quantity">
            &nbsp;
            <button class="btn btn-primary" (click)="Add()">Add Inventory Item</button>
                <ul class="list-unstyled p-0 list-group">
                    <li *ngFor="let Inventory of InventoryList; let index = index" class="text-dark bg-info mt-3 p-3 list-group-item">
                    <h5>{{index + 1}}&nbsp;&nbsp;Item Name: {{Inventory.Name}}&nbsp;&nbsp;Item Quantity: {{Inventory.Quantity}}</h5>
                    &nbsp;
                    <button class="btn btn-dark danger" (click)="Delete(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>




