<div class="btn-group d-flex flex-wrap" role="group" aria-label="Responsive button group">
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/student-list">Student List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/employee-list">Employee List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/fruit-list">Fruit List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/course-list">Course List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/book-list">Book List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/city-list">City List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/movie-list">Movie List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/car-model-list">Car Model List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/product-list">Product List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/subject-list">Subject List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/country-list">Country List</a></button>
  <button type="button" class="btn btn-dark rounded border-danger"><a routerLink="/sports-list">Sports List</a></button>
</div>
<hr class="border-danger rounded">
<router-outlet/>
