<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Software List</h1>
            <input type="text" placeholder="Enter Software Name" [(ngModel)]="Software">
            &nbsp;
            <button class="btn btn-primary" (click)="Add()">Add Software</button>
                <ul class="list-unstyled p-0 list-group">
                    <li *ngFor="let Software of SoftwareList; let index = index" class="text-dark bg-info mt-3 p-3 list-group-item">
                    <h5>{{index + 1}}&nbsp;&nbsp;Software Name: {{Software}}</h5>
                    &nbsp;
                    <button class="btn btn-dark danger" (click)="Delete(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>




