<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Podcast List</h1>
            <input type="text" placeholder="Enter Podcast Name" [(ngModel)]="Podcast">
            &nbsp;
            <button class="btn btn-primary" (click)="Add()">Add Podcast</button>
                <ul class="list-unstyled p-0 list-group">
                    <li *ngFor="let Podcasts of PodcastList; let index = index" class="text-dark bg-info mt-3 p-3 list-group-item">
                    <h5>{{index + 1}}&nbsp;&nbsp;Podcast Name: {{Podcasts}}</h5>
                    &nbsp;
                    <button class="btn btn-dark danger" (click)="Delete(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</div>


